<header id="header" class="header-narrow" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": false}'>
  <div class="header-body">
    <div class="header-top header-top-secondary header-top-style-3">
      <div class="container">
        <nav class="header-nav-top pull-right">
          <ul class="nav nav-pills">
            <li class="hidden-xs">
              <span class="ws-nowrap text-color-tertiary"><i class="fa fa-map-marker"></i> {{ constant('ADDRESS_LINE1') ~ ', Flushing, NY' }}</span>
            </li>
            <li>
              <span class="ws-nowrap text-color-tertiary"><i class="fa fa-phone"></i> {{ constant('PHONE_NUMBER') }}</span>
            </li>
            <li class="hidden-xs">
              <span class="ws-nowrap"><i class="fa fa-envelope"></i> <a href="mailto:{{ constant('EMAIL') }}">{{ constant('EMAIL') }}</a></span>
            </li>
          </ul>
        </nav>
        <p class="hidden-xs text-color-tertiary">
          The company leading you to a healthy life!
        </p>
      </div>
    </div>
    <div class="header-container container">
      <div class="header-row">
        <div class="header-column">
          <div class="header-logo">
            <a href="/index.php">
              <img alt="Biomine" width="144" height="65" src="/img/logo.png">
            </a>
          </div>
        </div>
        <div class="header-column">
          <div class="header-row">
            <div class="header-nav">
              <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                <i class="fa fa-bars"></i>
              </button>
              <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                <nav>
                  <ul class="nav nav-pills" id="mainNav">
                    <li class="{{ '/index.php'|active_url }} dropdown-full-color dropdown-secondary">
                      <a href="/index.php">
                        Home
                      </a>
                    </li>
                    <li class="{{ '/about/about_us.php'|active_url }} dropdown-full-color dropdown-secondary">
                      <a href="/about/about_us.php">
                        About Us
                      </a>
                    </li>
                    <li class="{{ '/shop.php'|active_url }} dropdown-full-color dropdown-secondary">
                      <a target="_blank" href="https://en.ipursu.us/category.php?id=31">
                        Shop
                      </a>
                    </li>
                    {#<li class="dropdown-full-color dropdown-secondary">#}
                      {#<a href="demo-restaurant-press.html">#}
                        {#Press#}
                      {#</a>#}
                    {#</li>#}
                    <li class="{{ '/about/contact_us.php'|active_url }} dropdown-full-color dropdown-secondary">
                      <a href="/about/contact_us.php">
                        Contact
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
