{% extends "/global_page_template" ~ (IS_DEVEL_SERVER ? "_dev") ~ ".twig" %}

{% block page_title %}
  {% if constant('HTML_LANG') is sameas('zh-Hans') %}
    Leading you to a healthier life!
  {% elseif constant('HTML_LANG') is sameas('zh-Hant') %}
    Leading you to a healthier life!
  {% else %}
    Leading you to a healthier life!
  {% endif %}
{% endblock %}

{% block page_desc %}
  {% if constant('HTML_LANG') is sameas('zh-Hans') %}
  {% elseif constant('HTML_LANG') is sameas('zh-Hant') %}
  {% else %}
  {% endif %}
{% endblock %}

{% block page_plugin_styles %}
  {{ parent() }}
  <link href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.min.css" rel="stylesheet"/>
  <link href="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.theme.default.min.css" rel="stylesheet"/>
  <link href="/libraries/porto/HTML/vendor/rs-plugin/css/settings.css" rel="stylesheet">
  <link href="/libraries/porto/HTML/vendor/rs-plugin/css/layers.css" rel="stylesheet">
  <link href="/libraries/porto/HTML/vendor/rs-plugin/css/navigation.css" rel="stylesheet">
{% endblock %}

{% block page_styles %}
  {{ parent() }}
  <link href="/libraries/porto/HTML/css/skins/skin-restaurant.css" rel="stylesheet">
  <link href="/libraries/porto/HTML/css/demos/demo-restaurant.css" rel="stylesheet">
  {#<link href="/assets/css/pages/index.css" rel="stylesheet">#}
{% endblock %}

{% block page_body_class %}home{% endblock %}

{% block page_content %}
  {{ parent() }}
  <div role="main" class="main">
    {% include '/pages/fragments/index/_block_home_slider.twig' %}
    {% include '/pages/fragments/index/_block_products.twig' %}
    {% include '/pages/fragments/index/_block_quotations.twig' %}
    {#{% include '/pages/fragments/index/_block_blog_team.twig' %}#}
  </div>
{% endblock %}

{% block page_plugins %}
  {{ parent() }}
  <!-- The cdn version doesn't work because it is not the same one. -->
  <script src="/libraries/porto/HTML/vendor/jquery.appear/jquery.appear.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.1/isotope.pkgd.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.min.js"></script>
  <script src="/libraries/porto/HTML/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
  <script src="/libraries/porto/HTML/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
{% endblock %}

{% block page_scripts %}
  {{ parent() }}
  {#<script src="/assets/js/pages/index.min.js"></script>#}
  <script>
    $(document).ready(function() {
//      Index.init();
    });
  </script>
{% endblock %}
